<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/fontawesome-free-6.1.2-web/css/all.css">
    <title>Accueil</title>
</head>

<body class="d-flex align-items-center body1">
<div id="simple-text-card" class="card col-4 bg-transparent border-2">
    <div class="card-body">
        <h1>Nabd Al Hayat</h1>
        <h5 class="card-title">
            نبض الحياة
        </h5>
        <p class="card-text text-justify">
            Bienvenue sur Nabd Al Hayat, notre objectif est de sauver des vies grâce aux dons de sang.
            Nous sommes une organisation à but non lucratif dédiée à collecter et distribuer du sang dans les hôpitaux
            de la région. Si vous êtes en mesure de donner du sang, nous vous encourageons à prendre rendez-vous avec
            nous dès maintenant. Si vous avez besoin de sang, nous sommes là pour vous aider. Contactez-nous pour plus
            d'informations.
        </p>
        <div class="button-wrapper d-flex align-items-center">
            <a href="/connexion" style="background-color: #ea2727;" class="btn btn-md register"
               role="button">Connexion</a>
            <a href="/inscription" class="btn btn-md login" role="button">Inscription</a>
        </div>
    </div>
</div>
</body>


</html>