<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transfusion Sanguine</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>

    <style>
        .footer {
            background-color: #FADBD8;
            padding: 20px 0;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
            color:black;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .navbar-dark{
            background-color: #C0392B ;
            color: #eff0f1;
        }
        .btn-primary{
            background-color: #F5B7B1;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/Donneur/acceuil">Nabd Al Hayat
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Donneur/acceuil">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Donneur/">Liste de dons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Donneur/">Résultat de dons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Donneur/rdv">Rendez-vous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Donneur/">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Mon compte
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Profil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/deconnexion">Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <table id="myTable" class="display" style="width:100%; margin-top: 20px;">
            <thead>
            <tr>
                <th class="th-sm">Centre Affecté</th>
                <th class="th-sm">Date du Rendez-vous</th>
                <th class="th-sm">Heure du Rendez-vous</th>
                <th class="th-sm">Confirmation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rdv : ${listeRdv}">
                <td th:text="${rdv.centreAffecte}"></td>
                <td th:text="${rdv.dateRdv}"></td>
                <td th:text="${rdv.heureRdv}"></td>
                <td th:text="${rdv.confirmation}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</main>
<footer class="footer">
    <div class="container">
        <p>Tous les droits réservés &copy; <span id="currentYear"></span>,Transfusion Sanguine</p>
    </div>
</footer>

<script>
    document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>
</body>
</html>
